/* Loader Starts Here */
/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader h1 {
    font-size: 8vh;
    color: #FF7F5D;
    font-family: "Raleway", sans-serif;
    margin-bottom: 6vh;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}


.loader::after {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid whitesmoke;
    border-top-color: #FF7F5D;
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/*Loader Ends Here  */




/* Utility Classes */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.garamond {
    font-family: 'EB Garamond', serif;
}

.bottomLine{
        margin-bottom: 0px!important;
}

.bottomLineExt::after{
        content: "_____";
        display: block;
        color: #FF7F5D;
        height: auto;
        width: auto;
        margin: auto auto;
}

.orange{
    color: #FF7F5D;
}
.bgOrange{
    background-color: #FF7F5D!important;
}

.bgGain{
    background-color: #F8F8F8;
}

.borderLight{
    border: 1px solid #DEE2E6;
}
.scale{
    transform: scale(2.5);
    margin-top: 1.2rem!important;
    margin-right: 1.8rem!important;
}
.font15px{
    font-size: 15px;
}

.font18px{
    font-size: 18px;
}

.font24px{
    font-size: 24px;
}

.font36px{
    font-size: 36px;
}
.font30px{
    font-size: 30px;
}

.font48px{
    font-size: 48px;
}

.font14px{
    font-size: 13px;
}
.h47rem{
    height: 40.7rem;
}

.w10rem{
    width: 10rem;
}
.sec1{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
    margin-bottom: -70px;
}

.sec1::before{
    content: "";
    background: rgba(21, 5, 23, 0.5) linear-gradient(rgba(26, 0, 33, 0.5) 0%, rgba(26, 0, 33, 0.5) 5%, rgba(38, 6, 51, 0.5) 40%, rgba(147, 47, 69, 0.7) 76%, rgba(236, 97, 93, 0.7) 94%, rgba(236, 97, 93, 0.5) 100%) repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
}
.sec1 #top{
    height: 100vh;
    position: relative;
}

.sec3 h2{
    margin-bottom: 0px!important;
}

.sec3 h2::after{
    content: "_____";
    display: block;
    color: #FF7F5D;
    height: auto;
    width: auto;
    margin: auto auto;
}



.sec5 .cardDiv1{
    background-image: url("img/our-values-1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20% 1rem 1rem 1rem;
    height: 60vh;
}

.sec5 .cardDiv2{
    background-image: url("img/our-values-2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20% 1rem 1rem 1rem;
    height: 60vh;
}

.sec5 .cardDiv3{
    background-image: url("img/our-values-3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20% 1rem 1rem 1rem;
    height: 60vh;
}

.sec5 .cardDiv4{
    background-image: url("img/our-values-4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20% 1rem 1rem 1rem;
    height: 60vh;
}

.sec5 .card{
    height: 10rem;
    opacity: 0.9;
}


/* Section 6 starts here */

.sec6 .col-lg-2 {
    width: 8rem;
}

.sec6 img {

    padding: 90%;
    filter: grayscale(100%);
}

.sec6 img:hover {
    filter: grayscale(0%) !important;
    transition: filter 1s;
}

/* Section 6 Ends Here */
.sec7 h2{
    margin-bottom: 0px!important;
}

.sec7 h2::after{
    content: "_____";
    display: block;
    color: #FF7F5D;
    height: auto;
    width: auto;
    margin: auto auto;
}


.sec8{
    background-color: #FAFAFA;
}

.sec8 h2{
    margin-bottom: 0px!important;
}

.sec8 h2::after{
    content: "_____";
    display: block;
    color: #FF7F5D;
    height: auto;
    width: auto;
    margin: auto auto;
}

/* Section Cards starts here */
.secCard {
    height: fit-content;
}

.secCard .card {
    height: 110vh;
}


.secCard .card-body h3 {
    font-size: 1.3rem;
    color: #32353A;

}

.secCard .card-body h4 {
    font-size: 2.8rem;
    color: #E84545;
}

.secCard .card-body h4 span {
    font-size: 1.1rem;
}

.secCard .icon {
    display: block;
    background-color: #E84545;
    outline: 7px solid #e8454579;
    border-radius: 100%;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.secCard .card-body ul {
    color: #4D5154;
}

.secCard .card-body ul li {
    padding: 0.4rem 0px;
}


.secCard{
    background-color: #280A2C;
}

/* Section 9 Starts here */
.sec11{
    background-color: #F0F4F8;
}

footer{
    height: 100vh;
    background: url("img/footer-bg.jpg") no-repeat;
    background-size: cover;
}

@media screen and (max-width: 566px) {


    .sec1 h1{
        font-size: 2.5rem!important;
    }
    .sec1 p{
        font-size: 5px!important;
    }
    footer .inpDiv{
        width: 100%!important;
    }
    footer .inpDiv .inpSubmit{
        width: 6rem!important;
    }


}
  